/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    max-width: 767px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    max-width: 991px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    max-width: 1199px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    max-width: 100vw;
  }
}

@viewport {
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.action-button {
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

.action-button:hover {
  background-color: whitesmoke;
}

/* CSS for the table */
table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: rgb(78, 4, 78);
  padding: 8px;
  text-align: left;
  font-weight: bold;
  color:white;
}

/* Alternate background color for even rows */
tr:nth-child(even) {
  background-color: #b1afaf;
}

td {
  padding: 8px;
  text-align: center;
}

/* Add hover effect to all table rows */
tr:hover {
  background-color: rgba(128,0,128,0.10);
  color: black;
  cursor: pointer;
}
